.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 40;
    pointer-events: none;
    opacity: 0;

    .modal_contant{
        width: 400px;
        height: 400px;
        background-color: rgb(41, 41, 41);
        color: white;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        transform: scale(0.2);
        transition: 0.4s all; 
        .circle{
            width: 90px;
            height: 90px;
            background-color: green;
            border-radius: 100%;
            position: absolute;
            left: 40%;
            svg{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                color: white;
                font-size: 50px;
            }

        }

        h2{
            text-align: center;
            position: absolute;
            top: 30%;
            left: 24%;
            font-size: 35px;

        }
        p{
            text-align: center;
            position: absolute;
            top: 50%;
            left: 18%;
            font-size: 18px;
        }
        button{
            padding: 15px 110px;
            border-radius: 15px;
            background-color: green;
            border: none;
            color: white;
            font-size: 15px;
            position: absolute;
            left: 22%;
            top: 80%;
            cursor: pointer;
        }
    }
}
.modal_contant.act{
    transform: scale(1);
}

.active{
    opacity: 1;
    pointer-events: all;
}
