$height_100: 100%;
$height_80: 80%;

@mixin whidth_height ($w , $h) {
    width: $w;
    height: $h;
}

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin pad($pad...) {
    padding: $pad;
}


.header-wrapper {
    @include whidth_height(100%, 82px);
    position: fixed;
    z-index: 5;
    transition: 0.8s ease-out;

    .header-inner {
        margin-top: 0.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 80%;
        // background-color: #17181c;

        .maser-logo {
            height: $height_100;
            position: absolute;
            @include flex();


            a {
                text-decoration: none;

                .crative {
                    -webkit-text-fill-color: transparent;
                    font-size: 35px;
                    font-weight: bold;
                    color: #17181c;
                    // -webkit-text-stroke: 0.5px rgb(15, 131, 0);
                    position: absolute;
                    top: 0;
                    left: 0;
                    // text-transform: uppercase; rgb(15, 131, 0)
                    &::before{
                        content: attr(data-text);
                        position: absolute;
                        left: 0;
                        top: 3%;
                        color: #677993;
                        -webkit-text-fill-color: #677993;
                        border-right: 2px solid #677993;
                        overflow: hidden;
                        width: 0%;
                        animation: animeit 8s linear infinite;
                    }


                }

                img {
                    width: 250px;
                    height: 50px;
                }
            }
        }

        .menu-list {
            height: $height_100;
            @include flex;
            position: absolute;
            right: 0;


            ul {
                list-style: none;
                display: flex;
                @include pad(0);

                li {
                    margin-right: 15px;


                    a {
                        text-decoration: none;
                        color: white;
                        font-weight: 500;

                        &:hover {
                            text-decoration: underline;
                            color: #677993;
                        }
                    }

                    .active-link {
                        color: #677993;

                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .iconDiv {
            height: $height_100;
            display: flex;
            align-items: center;
            position: absolute;
            right: 0;

            .iconBtn {
                background: none;
                border-radius: 5px;
                @include flex;
                cursor: pointer;

                .icon-menu {
                    height: $height_100;
                    font-size: 30px;
                    color: #fff;
                }
            }
        }
        .languges{
            width: 80px;
            position: absolute;
            right: 2%;
            top: 70px;
            select{
                width: 100%;
                font-size: 18px;
                color: white;
                background: none;
                border: none;
                option{
                    font-size: 16px;
                    color: white;
                    background-color: #17181c;
                    border: none;
                }
            }
        }
    }
}


.header-wrapper-fix {
    height: 62px;
    background-color: #17181c;
    transition: 1s ease-in-out;
}

@media (max-width: 992px) {
    .header-wrapper {
        @include whidth_height(100%, 62px);
    }

    .header-wrapper .header-inner .maser-logo a img {
        width: 180px;
    }
}

@keyframes animeit{
    0%{
        width: 0%;
    }
    70%{
        width: 100%;
    }
    80%{
        width: 100%;
    }
}