

.serviceBox {
    height: 210px;
    background-color: rgb(141, 141, 170);
    margin: 20px;
    padding: 20px;
    color: #bbb;
    text-align: center;
    border-radius: 30px;
    background: #202126;
    border: 1px solid #2c2f36;
    .logo{
        svg{
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }
    }
    h4{
        margin: 10px 0;
    }
}